table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
}
table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.text-center{
  padding: 5% 25% 5% 25%;
}
input {
  background-color: #ddd;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 100%;
}